<div class="container">
  <h1>Conversor de Moedas</h1>

  <div class="coins">

    <ul class="nav nav-tabs" id="CoinToConvert">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">R$ (real brasileiro)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">$ (dolar americano)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">€ (euro)</a>
      </li>

    </ul>

    <input placeholder="Digite o valor a ser convertido" />


    <ul class="nav nav-tabs" id="CoinYouWant">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">R$ (real brasileiro)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">$ (dolar americano)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">€ (euro)</a>
      </li>
    </ul>

    <div>Resultado: </div>

  </div>
</div>
